<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.top.mapper.ReaderMapper">

    <insert id="addAReader" parameterType="com.top.pojo.Reader">
        insert into reader values (#{addReader.id}, #{addReader.name}, #{addReader.gender},
        #{addReader.registerDate}, #{addReader.tel}, #{addReader.address})
    </insert>

    <delete id="deleteAReader" parameterType="String">
        delete from reader where id = #{deleteReader}
    </delete>

    <update id="modifyAReader" parameterType="com.top.pojo.Reader">
        update reader
        <set>
            <if test="modifyReader.name != null and modifyReader.name != ''">
                name = #{param1.name},
            </if>

            <if test="modifyReader.gender != null and modifyReader.gender != ''">
                gender = #{modifyReader.gender},
            </if>

            <if test="modifyReader.registerDate != null and modifyReader.registerDate != ''">
                registerDate = #{param1.registerDate},
            </if>

            <if test="modifyReader.tel != null and modifyReader.tel != ''">
                tel = #{modifyReader.tel},
            </if>

            <if test="modifyReader.address != null and modifyReader.address != ''">
                address = #{modifyReader.address}
            </if>
        </set>
        <where>
            id = #{modifyReader.id}
        </where>
    </update>

    <select id="getAReader" parameterType="String" resultType="com.top.pojo.Reader">
        select * from reader where id = #{getReader}
    </select>

</mapper>