<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.top.mapper.UserMapper">

    <insert id="addAUser" parameterType="com.top.pojo.User">
        insert into user values (#{addUser.id}, #{addUser.password}, #{addUser.name}, #{addUser.gender},
        #{addUser.tel}, #{addUser.address}, #{addUser.role})
    </insert>

    <delete id="deleteAUser" parameterType="String">
        delete from user where id = #{deleteUser}
    </delete>

    <update id="updateAUser" parameterType="com.top.pojo.User">
        update user
        <set>
            <if test="modifyUser.password != null and modifyUser.password != ''">
                password = #{modifyUser.password},
            </if>

            <if test="modifyUser.name != null and modifyUser.name != ''">
                name = #{modifyUser.name},
            </if>

            <if test="modifyUser.gender != null and modifyUser.gender != ''">
                gender = #{modifyUser.gender},
            </if>

            <if test="modifyUser.tel != null and modifyUser.tel != ''">
                tel = #{modifyUser.tel},
            </if>

            <if test="modifyUser.address != null and modifyUser.address != ''">
                address = #{modifyUser.address}
            </if>

            <if test="modifyUser.role != null and modifyUser.role != ''">
                role = #{modifyUser.role},
            </if>
        </set>
        <where>
            id = #{modifyUser.id}

        </where>
    </update>

    <select id="getAUser" parameterType="String" resultType="com.top.pojo.User">
        select * from user where id = #{getUser}
    </select>

    <select id="getAllUser" resultType="com.top.pojo.User">
        select * from user where role = '0'
    </select>

    <select id="getUserByName" resultType="com.top.pojo.User">
        select * from  user where name = #{name}
    </select>

</mapper>